

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Outfit:wght@300&display=swap');

body  {
    
    background-color:skyblue;
    background-image: linear-gradient(skyblue 0%, deepskyblue 20%, teal 100%);
    color: black;
   
}

.center{
    margin: auto;
    width:60%;
}
h1{
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
}
h2{
    font-size:25px;
    font-family: 'Josefin Sans', sans-serif;
}
h3,h4{
    font-size:24px;
    color:black; 
    font-family: 'Josefin Sans', sans-serif;
}

p{
    font-size:25px;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    
}

       
.center h2 {
    margin: 5px;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1.indent{
    text-indent: 20%;}
p.indent {
    text-indent: 30px;
}
div.margin{
    padding: 30px;
}
div.margin2{
    padding: 200px;
}


.button1{
  border: none;
    border-radius: 5px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    
}
.button1{
    background-color:lightpink
}
.button1:hover:not(.active) {
  background-color: mediumpurple;
}
img.burger{
   position:relative;
    left:6px;
    bottom: 450px;
    
}
img.butter{
   position:relative;
   left:250px;
    bottom: 280px;
    
}
img.nuggs{
   position:relative;
    right:6px;
    bottom: 250px;
    
}
img.bacon{
   position:relative;
    left:380px;
    bottom: 80px;
    
}
